<div class="mt-2">
  <table class="table table-success">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('numeroTicket', 'asc'); getRichiestaFiltrata()
            "
          >
            <use href="#it-arrow-down-circle"></use>
          </svg>
          Numero Ticket
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('numeroTicket', 'desc'); getRichiestaFiltrata()
            "
          >
            <use href="#it-arrow-up-circle"></use>
          </svg>
        </th>
        <th scope="col">Oggetto</th>
        <th scope="col">Applicativo</th>
        <th scope="col">
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('dataCreazione', 'asc'); getRichiestaFiltrata()
            "
          >
            <use href="#it-arrow-down-circle"></use>
          </svg>
          Data creazione
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('dataCreazione', 'desc'); getRichiestaFiltrata()
            "
          >
            <use href="#it-arrow-up-circle"></use>
          </svg>
        </th>
        <th scope="col">Stima data fine</th>
        <th scope="col">Importo</th>
        <th scope="col">Gestisci</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rich of richiesta" class="table table-success">
        <td>{{ rich.numeroTicket }}</td>
        <td>{{ rich.oggetto }}</td>
        <td>{{ rich.applicativo.descApplicativo }}</td>
        <td>{{ rich.dataCreazione }}</td>
        <td>{{ rich.dataStimaFinale }}</td>
        <td>{{ rich.importo }}</td>
        <td>
          <svg
            class="icon icon-primary"
            style="margin-right: 1rem"
            routerLink="visualizza"
            (click)="goToVisualizza(rich)"
          >
            <use href="#it-zoom-in"></use>
          </svg>
          <svg class="icon icon-primary" (click)="goToModifica(rich)">
            <use href="#it-pencil"></use>
          </svg>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td
          class="pagination-wrapper"
          aria-label="Esempio di navigazione simple mode"
          colspan="7"
        >
        <div style="display: flex; align-items: center;">
          <ul class="pagination" aria-label="Pagina 1 di 5">
            <li class="page-item">
              <a
                class="page-link"
                (click)="handlePreviousPage()"
                aria-hidden="true"
              >
                <svg class="icon icon-primary">
                  <use href="#it-chevron-left"></use>
                </svg>
                <span class="visually-hidden">Pagina precedente</span>
              </a>
            </li>
            <li class="page-item">
              <span class="page-link" aria-current="page">{{
                currentPage
              }}</span>
            </li>
            <li class="page-item"><span class="page-link">/</span></li>
            <li class="page-item">
              <span class="page-link">{{ totalPages }}</span>
            </li>
            <li class="page-item visually-hidden">
              <a class="page-link" href="#" aria-current="page"
                >Pagina 1 di 5</a
              >
            </li>
            <li class="page-item">
              <a class="page-link" (click)="handleNextPage()">
                <span class="visually-hidden">Pagina successiva</span>
                <svg class="icon icon-primary">
                  <use href="#it-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="dropdown text-center mb-3 ml-2" >
              <select
                id="dropdownElement"
                (change)="onElementsPerPageChange($event); getRichiestaFiltrata()"
              >
                <option value=""></option>
                <option *ngFor="let num of elementsPerPage" [value]="num">
                  {{ num }}
                </option>
              </select>
          </div>
        </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
