<div
  class="it-header-center-wrapper"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper mt-3">
          <div class="it-brand-wrapper">
            <a routerLink="home">
              <div class="circle-icon">
              <img src="https://yt3.googleusercontent.com/ytc/AIdro_lKZLixr778Y_507jw_wBFwhUqzIgWGkX9IdQMH5QLOAw=s900-c-k-c0x00ffffff-no-rj" alt="logo">
              </div>
              <div class="it-brand-text">
                <div class="it-brand-title">Consap S.p.A</div>
                <div class="it-brand-tagline d-none d-md-block">
                  Concessionaria Servizi Assicurativi Pubblici
                </div>
              </div>
            </a>
          </div>          
          <hr>
          <div class="it-right-zone">
            <a
              class="btn btn-primary btn-icon btn-full"
            >
              <span class="rounded-icon">
                <svg class="icon icon-primary">
                  <use href="#it-user"></use>
                </svg>
              </span>
              <span
                class="d-none d-lg-block"
                routerLink="/login"
                *ngIf="!checkAuthentication()"
                >Accedi all'area personale</span
              >
              <span
                class="d-none d-lg-block"
                routerLink="/home"
                (click)="logout()"
                *ngIf="checkAuthentication()"
                >Logout</span
              >
            </a>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-6 d-flex mt-3 ">
        <p class="underline-on-hover">Chi siamo</p>
        <p class="underline-on-hover">Contattaci</p>
        <p class="underline-on-hover" routerLink="inserimento">Inserisci una nuova richiesta</p>
      </div>
    </div>
    </div>
  </div>
</div>
