<div class="mt-4">
    <div class="row">
      <div class="form-group col-md-6">
        <label for="formNome">Numero Ticket</label>
        <input type="text" class="form-control" id="numeroTicket" readonly>
      </div>
      <div class="form-group col-md-6">
        <label for="formCognome">Oggetto</label>
        <input type="text" class="form-control" id="Oggetto" readonly>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="Comune">Applicativo</label>
        <input type="text" class="form-control" id="Applicativo" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="Provincia">Stato Richiesta Consap</label>
        <input type="text" class="form-control" id="statoRichiestaConsap" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Stato Richiesta Os</label>
        <input type="text" class="form-control" id="statoRichiestaOs" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Stato Approvazione Consap</label>
        <input type="text" class="form-control" id="statoApprovazioneConsap" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Stato Approvazione Os</label>
        <input type="text" class="form-control" id="statoApprovazioneOs" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Data creazione</label>
        <input type="text" class="form-control" id="dataCreazione" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Stima data fine</label>
        <input type="text" class="form-control" id="stimaDataFine" readonly>
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">Importo</label>
        <input type="text" class="form-control" id="CAP">
      </div>
    </div>
  </div>
