.titillium-title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size: 1 rem; /* Dimensione del carattere desiderata */
    color: white; /* Colore del testo desiderato */
    /* Aggiungi altri stili se necessario */
}
svg{
    color: red;
}