<div class="mt-4">
  <form [formGroup]="form" style="max-width: 95%" class="mx-auto">
    <div class="row">
      <div class="form-group col-md-4">
        <label for="formNome">{{ richiesta?.numeroTicket }}</label>
        <input
          type="text"
          class="form-control"
          id="numeroTicket"
          readonly
          formControlName="numeroTicket"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="formCognome">{{ richiesta?.oggetto }}</label>
        <input
          type="text"
          class="form-control"
          id="Oggetto"
          readonly
          formControlName="oggetto"
        />
      </div>
      <div class="form-group col-md-4">
        <label for="formCognome">{{
          richiesta?.commessaOs?.descCommessaOs
        }}</label>
        <input
          type="text"
          class="form-control"
          id="Commessa"
          readonly
          formControlName="commessaOs"
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-3">
        <label for="Provincia">{{
          richiesta?.statoRichiestaConsap?.descStatoRichiestaConsap
        }}</label>
        <input
          type="text"
          class="form-control"
          id="statoRichiestaConsap"
          readonly
          formControlName="statoRichiestaConsap"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{
          richiesta?.statoRichiestaOs?.descStatoRichiestaOs
        }}</label>
        <input
          type="text"
          class="form-control"
          id="statoRichiestaOs"
          readonly
          formControlName="statoRichiestaOs"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{
          richiesta?.statoApprovazioneConsap?.descStatoApprovazioneConsap
        }}</label>
        <input
          type="text"
          class="form-control"
          id="statoApprovazioneConsap"
          readonly
          formControlName="statoApprovazioneConsap"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{
          richiesta?.statoApprovazioneOs?.descStatoApprovazioneOs
        }}</label>
        <input
          type="text"
          class="form-control"
          id="statoApprovazioneOs"
          readonly
          formControlName="statoApprovazioneOs"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{ richiesta?.dataCreazione }}</label>
        <input
          type="text"
          class="form-control"
          id="dataCreazione"
          readonly
          formControlName="dataCreazione"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{ richiesta?.dataStimaFinale }}</label>
        <input
          type="text"
          class="form-control"
          id="stimaDataFine"
          readonly
          formControlName="dataStimaFinale"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{ richiesta?.importo }}</label>
        <input
          type="text"
          class="form-control"
          id="import"
          readonly
          formControlName="importo"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="CAP">{{ richiesta?.applicativo?.descApplicativo }}</label>
        <input
          type="text"
          class="form-control"
          id="applicativo"
          readonly
          formControlName="importo"
        />
      </div>    
      <div class="btn-example">
        <svg class="icon icon-danger" (click)="goBack()"><use href="#it-arrow-left-circle" [style]="{color:'red'}"></use></svg>
      </div>  
    </div>

  </form>

  <!-- <div
    class="container mt-5 mb-5"
    style="border-radius: 10px; box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1)"
  >
    <table class="table table-striped" style="opacity: 0.9">
      <caption>Tabella usata per ottenere lo storico delle richieste</caption>
      <thead>
        <tr class="table-dark">
          <th scope="col">Data inserimento</th>
          <th scope="col">Gestisci</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rich of richiestaStorico" class="table-info">
          <td>{{ formatData(rich?.dataInserimento) }}</td>
          <td>
            <svg
              class="icon icon-primary"
              style="margin-right: 1rem"
              (click)="selezionaRichiesta(rich)"
            >
              <use href="#it-exchange-circle"></use>
            </svg>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-paginator
  [richiesteTotali]="richiestaStorico.length" 
  (elementsPerPageChange)="onElementsPerPageChange($event)"
  (nextPageEvent)="handleNextPage()"
  (previousPageEvent)="handlePreviousPage()">
></app-paginator> -->
<div class="mt-2">
  <table class="table table-success">
    <thead class="table-dark">
      <tr>
        <th scope="col">
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('dataInserimento', 'asc');
            getRichiestaStorico()"
          >
            <use href="#it-arrow-down-circle"></use>
          </svg>
          Data inserimento
          <svg
            class="icon icon-primary"
            (click)="
              setCampoOrdine('dataInserimento', 'desc'); 
           getRichiestaStorico() "
          >
            <use href="#it-arrow-up-circle"></use>
          </svg>
        </th>
        <th scope="col">Gestisci</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rich of richiestaStorico" class="table-info">
        <td>{{ formatData(rich?.dataInserimento) }}</td>
        <td>
          <svg
          class="icon icon-primary"
          style="margin-right: 1rem"
          (click)="selezionaRichiesta(rich)"
        >
          <use href="#it-exchange-circle"></use>
        </svg>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td
          class="pagination-wrapper"
          aria-label="Esempio di navigazione simple mode"
          colspan="7"
        >
        <div style="display: flex; align-items: center;">
          <ul class="pagination" aria-label="Pagina 1 di 5">
            <li class="page-item">
              <a
                class="page-link"
                (click)="handlePreviousPage()"
                
              >
                <svg class="icon icon-primary">
                  <use href="#it-chevron-left"></use>
                </svg>
                <span class="visually-hidden">Pagina precedente</span>
              </a>
            </li>
            <li class="page-item">
              <span class="page-link" aria-current="page">{{
                currentPage
              }}</span>
            </li>
            <li class="page-item"><span class="page-link">/</span></li>
            <li class="page-item">
              <span class="page-link">{{ totalPages }}</span>
            </li>
            <li class="page-item visually-hidden">
              <a class="page-link" href="#" aria-current="page"
                >Pagina 1 di 5</a
              >
            </li>
            <li class="page-item">
              <a class="page-link" (click)="handleNextPage()">
                <span class="visually-hidden">Pagina successiva</span>
                <svg class="icon icon-primary">
                  <use href="#it-chevron-right"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="dropdown text-center mb-3 ml-2" >
              <select
                id="dropdownElement"
                (change)="onElementsPerPageChange($event); getRichiestaStorico()"
                
              >
                <option value=""></option>
                <option *ngFor="let num of elementsPerPage" [value]="num">
                  {{ num }}
                </option>
              </select>
          </div>
        </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
</div>
